.text-white{
    color: white;
}
.text-center{
    text-align: center;
}
.d-flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.justify-between{
    justify-content: space-around;
}
.items-center{
    align-items: center;
}
.flex-center-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-col{
    flex-direction: column;
}
.flex-wrap{
    flex-wrap: wrap;
}
.honey{
    color: #fcb404;
}
.bx-shadow{
    box-shadow: 0px 0px 15px rgb(0 0 0 / 10%);
}