.text-white{
    color: white;
}
.text-center{
    text-align: center;
}
.d-flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.justify-between{
    justify-content: space-around;
}
.items-center{
    align-items: center;
}
.flex-center-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-col{
    flex-direction: column;
}
.flex-wrap{
    flex-wrap: wrap;
}
.honey{
    color: #fcb404;
}
.bx-shadow{
    box-shadow: 0px 0px 15px rgb(0 0 0 / 10%);
}
.mx-1{
    margin-block: 1rem;
}
.mx-1_2{
    margin-block: 0.5rem;
}
.mx-1_4{
    margin-block: 0.25rem;
}
.mx-1_4{
    margin-block: 0.125rem;
}
.mt-5{
    margin-top: 5rem;
}
.mt-6{
    margin-top: 6rem;
}
.text-gray{
    color: #686868;
}